body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #FAFAFA;
}

.pre-auth {
  display: none;
}
.post-auth {
  display: none;
}
.spacer {
  height: 30px;
}

.h-wrapper {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 16px;
  text-align: center;
}
.headline {
  width: 100%;
  box-sizing: border-box;
  max-width: 420px;
  text-align: right;
  padding: 20px 30px;
  display: inline-block;
  background-color: #ffa665;
}
.headline .h-big {
  font-weight: 900;
  font-size: 28px;
  font-family: 'Exo', sans-serif;
}
.headline .h-small {
  font-weight: 400;
  font-size: 16px;
}

.s-wrapper {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 16px;
  text-align: center;
}
.subheadline {
  width: 100%;
  box-sizing: border-box;
  max-width: 420px;
  text-align: right;
  padding: 20px 30px;
  display: inline-block;
  background-color: #ffa665;
}
.subheadline .h-big {
  font-weight: 900;
  font-size: 24px;
  font-family: 'Exo', sans-serif;
  line-height: 30px;
}
.subheadline .h-small {
  font-size: 14px;
}

#channel-details {
  box-sizing: border-box;
  width: 100%;
  max-width: 420px;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#cd1 {
  order: 1;
  margin: 0;
  margin-right: 16px;
  border: solid 6px #283f63;
  width: 120px;
  height: 120px;
  padding: 0px;
  flex: 0 0 auto;
}
#cd2 {
  order: 2;
  text-align: left;
  background-color: #283f63;
  height: 132px;
  flex: 1 0 auto;
  box-sizing: border-box;
  padding: 20px;
}
#c-img {
  height: 120px;
  width: 120px;
}
#c-name {
  font-weight: 900;
  font-size: 24px;
  margin-top: 40px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'Exo', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#c-tag {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#c-link {
  text-decoration: none;
  color: #FAFAFA;
}
#c-link:hover {
  color: #ffa665;
}

#channel-stats {
  box-sizing: border-box;
  max-width: 420px;
  margin: 0px auto;
  margin-top: 16px;
  padding: 20px 30px;
  background-color: #3d5c8c;
}
.stat-title {
  font-weight: 900;
  font-size: 24px;
  font-family: 'Exo', sans-serif;
  margin-bottom: 8px;
  text-align: center;
}
.stat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: no-wrap;
}
.stat .s-label {
  order: 2;
  width: 50%;
  margin-left: 10px;
  flex: 1 0 auto;
  font-size: 14px;
  text-align: left;
  line-height: 32px;
}
.stat .s-value {
  order: 1;
  width: 50%;
  flex: 0 1 auto;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  text-align: right;
}
.disc {
  font-size: 10px;
  font-weight: 400;
  margin: 8px 5px 5px 5px;
}

#chart {
  max-width: 420px;
  width: 100%;
  height: 360px;
  margin: 0 auto;
  margin-bottom: 80px;
}